#calculatorForm {
    width: 350px;
    padding: 20px;
    background-color: #808080;
    display: inline-block;
    color: White;
    border-radius: 10px;
    opacity: 0.8;
}

.results {
    margin: 30px;
    padding: 30px;
    background-color: #808080;
    color: white;
    max-width: 500px;
    border-radius: 10px;
    opacity: 0.8;
}

.content {
    text-align: center;
    height: 100%;
    padding: 40px 0 40px 0;
}

.naslov {
    margin: 30px;
}

.welcome-text {
    padding: 20px;
}

.jumbotron {
    background-image: url("../img/main1.png");
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

#calories {
    font-size: 30px;
    font-weight: bold;
}

#macros {
    font-weight: 120;
}

.meal {
    text-align: right;
    font-size: 23px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .meal {
        text-align: center;
    }
}

.food {
    text-align: left;
}

body {
    background-image: url("../img/sports.png");
    background-repeat: repeat;
}

footer {
    font-size: 1rem;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: grey;
}