#calculatorForm {
    width: 350px;
    border: solid;
    border-color: silver;
    padding: 20px;
    background-color: #808080;
    display: inline-block;
    color: White;

}

.results {
    border: solid;
    border-color: silver;
    margin: 30px;
    padding: 30px;
    background-color: #808080;
    color: white;
    max-width: 500px;
}

.content {
    text-align: center;
    padding: 40px 0 40px 0;
}

.naslov {
    margin: 30px;
}

.welcome-text {
    padding: 20px;
}

.jumbotron {
    background-image: url("/static/img/main1.png");
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.bottom {
    background-color: #d9d9d9;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100%;
}

.bottom-text {
    margin: 0;
    color: #808080;
    font-style: italic;
    padding-left: 10%;
}

#calories {
    font-size: 30px;
    font-weight: bold;
}

#macros {
    font-weight: 120;
}

.meal {
    text-align: right;
    font-size: 23px;
    font-weight: 300;
}

.food {
    text-align: left;
}

body {
    background-color: #f2f2f2;
}